*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* DEFAULT THEME VARIABLES */

:root{
  --bg:#0f172a;
  --card:#1e293b;
  --text:white;
  --accent:#38bdf8;
}

/* THEMES */

body.ocean{
  --bg:#082f49;
  --card:#0c4a6e;
  --text:#e0f2fe;
  --accent:#06b6d4;
}

body.sunset{
  --bg:#431407;
  --card:#7c2d12;
  --text:#ffedd5;
  --accent:#fb923c;
}

body.neon{
  --bg:#09090b;
  --card:#18181b;
  --text:#d9f99d;
  --accent:#a3e635;
}

/* BODY */

body{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:var(--bg);
  color:var(--text);

  font-family:Arial,sans-serif;

  transition:
  background 0.4s ease,
  color 0.4s ease;
}

/* CARD */

.card{
  width:450px;
  max-width:95%;

  background:var(--card);

  padding:40px;
  border-radius:24px;

  text-align:center;

  transition:0.4s;
}

.card h1{
  margin-bottom:15px;
  color:var(--accent);
}

.card p{
  line-height:1.7;
  margin-bottom:30px;
}

/* BUTTONS */

.theme-buttons{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.theme-btn{
  padding:12px 20px;

  border:none;
  border-radius:12px;

  cursor:pointer;
  font-weight:bold;

  transition:0.3s;
}

.theme-btn:hover{
  transform:translateY(-3px);
}

/* INDIVIDUAL COLORS */

.default{
  background:#38bdf8;
  color:black;
}

.ocean{
  background:#06b6d4;
  color:black;
}

.sunset{
  background:#fb923c;
  color:black;
}

.neon{
  background:#a3e635;
  color:black;
}