body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.rating-container {
  text-align: center;
}

.stars span {
  font-size: 40px;
  cursor: pointer;
  color: #334155;
  transition: 0.2s;
}

/* active stars */
.stars span.active {
  color: #facc15;
}

/* hover effect */
.stars span:hover,
.stars span:hover ~ span {
  color: #334155;
}

.stars span:hover,
.stars span:hover ~ span {
  color: #facc15;
}
