body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 400px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  background: #38bdf8;
  color: black;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  background: rgba(255,255,255,0.05);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
